on: [push]

name: test

jobs:
  simpleExample:
    runs-on: [self-hosted, Linux, X64]
    steps:
    # checkout branch
    - uses: actions/checkout@master
    - run: cat /etc/os-release
    - run: uname -a
    - run: uptime
    - run: cal
    - run: echo 'test'
    - run: echo 'test2'
